langchain==1.2.3
langchain-classic
langchain-core==1.2.7
langchain-text-splitters==1.1.0
langfuse
langchain_qdrant==1.1.0
langchain_community==0.4.1
langchain-huggingface==1.2.0
sentence-transformers==2.6.0
transformers
asyncio==3.4.3
fastapi==0.111.0
qdrant-client
uvicorn[standard]
unstructured[xlsx]
unstructured[pptx]
python-magic
python-dotenv
openpyxl
docx2txt
pymupdf==1.25.1
pydantic
fastapi-utilities
sqlmodel
nltk
unstructured
python-pptx
watchdog